{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Butta Bomma Boutique</title>
<link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body>

<h2>Stock Details</h2>

<form action="index" method="get" target="_blank">
  <div class="imgcontainer">
    <img src="{% static 'img/ButtaBomma.jpg' %}" alt=" " class="buttabomma">
  </div>

  <div class="container">
    <label for="category"><b>Category:</b></label>
    <select id="category">
      <option value="Kurti">Kurti</option>
      <option value="Lehanga">Lehanga</option>
      <option value="Long frock">Long frock</option>
      <option value="Night suit">Night suit</option>
      <option value="Kurti set">Kurti set</option>
    </select><br>

    <label for="size"><b>Size:</b></label>
    <select id="size">
      <option value="S">S</option>
      <option value="M">M</option>
      <option value="L">L</option>
      <option value="XL">XL</option>
      <option value="XXL">XXL</option>
    </select><br>
    <button type="submit" class="searchbtn">Search</button>
  </div>
</form>
</body>
<script src="{% static 'js/fetch.js' %}"></script>
</html>
